<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.8" targetFramework="net462" developmentDependency="true" />
  <package id="BepInEx.BaseLib" version="5.4.19" targetFramework="net462" />
  <package id="BepInEx.Core" version="5.4.19" targetFramework="net462" />
  <package id="BepInEx.PluginInfoProps" version="2.1.0" targetFramework="net462" />
  <package id="HarmonyX" version="2.10.1" targetFramework="net462" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.2" targetFramework="net462" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net462" version="1.0.3" targetFramework="net462" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net462" />
  <package id="MonoMod.RuntimeDetour" version="22.7.31.1" targetFramework="net462" />
  <package id="MonoMod.Utils" version="22.7.31.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="UnityEngine.Modules" version="2020.3.33" targetFramework="net462" developmentDependency="true" />
  <package id="ValheimGameLibs" version="0.212.7" targetFramework="net462" />
</packages>